*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col_1{
    width:8.33%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_2{
    width:16.66%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_3{
    width:25%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_4{
    width:33.33%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_5{
    width:41.66%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_6{
    width:50%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_7{
    width:58.33%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_8{
    width:66.66%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_9{
    width:75%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_10{
    width:83.33%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_11{
    width:91.66%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.col_12{
    width:100%;
    flex: 0 0 auto;
    padding: 0px 15px;
}
.align_center{
    align-items: center;
}
/* Header Starts */
.nav{
    background-color: black;
    width: auto;
    padding: 20px 0;
}
/* Header Ends */

.logo{
    background-color: red;
    height: 50px;
    width: auto;
}

.content{
    background-color: red;
    height: 50px;
    width: auto;
}
.btn{
    background-color: red;
    height: 50px;
    width: auto;
}
/* Second Section Starts */
.pic{
    background-color: red;
    width: auto;
    padding: 150px 0;
}
.picture{
    background-color: black;
    height: 200px;
    width: auto;
}
/* Second Section Ends */

/* Third Section Starts */

.volup{
    background-color: black;
    width: auto;
    padding: 50px 0;
}

.vol{
    background-color: red;
    height: 200px;
    width: auto;
}
.up{
    background-color: red;
    height: 200px;
    width: auto;
}
/* Third Section Ends */

/* Fourth Section Starts */
.stud{
    background-color: red;
    width: auto;
    padding: 50px 0;
}
.course{
    background-color: black;
    height: 80px;
    width: auto;
}
.trainer{
    background-color: black;
    height: 80px;
    width: auto;
}
.event{
    background-color: black;
    height: 80px;
    width: auto;
}
.students{
    background-color: black;
    height: 80px;
    width: auto;
}
/* Fourth section ends */

/* Fifth Section Starts */

.men{
        background-color: black;
        width: auto;
        padding: 50px 0;
}
.tor{
    background-color: red;
    height: 400px;
    width: auto;
}  
.cor{
    background-color: red;
    height: 250px;
    width: 250px;
}
.ulla{
    background-color: red;
    height: 250px;
    width: 250px;
}
.lab{
    background-color: red;
    height: 250px;
    width: 250px;
} 
/* Fith Section Ends */

/* Sixth Section Starts */

.box{
    background-color: red;
    width: auto;
    padding: 30px 0;
}
.lorem{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.dolar{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.sed{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.magni{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.nemo{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.eiusmond{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.midela{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.pira{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.dirada{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.moton{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.verdo{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}
.flavor{
    background-color: black;
    height: 80px;
    width: auto;
    margin-top: 50px;
}

/* Sixth Section Ends */
/* Empty Section Starts */

.empty{
    background-color: black;
    width: auto;
    padding: 20px 0;
}
.emp{
    background-color: red;
    height: 50px;
    width: auto;
}
/* Empty Section ends */

/* Seventh Section Starts */

.popular{
    background-color: black;
    width: auto;
    padding: 20px 0;
}
.website{
    background-color: red;
    height: 400px;
    width: auto;
}
.search{
    background-color: red;
    height: 400px;
    width: auto;
}
.copy{
    background-color: red;
    height: 400px;
    width: auto;
}


/* Seventh section Ends */
/* Eighth Section Starts */

.persons{
    background-color: red;
    width: auto;
    padding: 50px 0;
}
.walter{
    background-color: black;
    height: 400px;
    width: auto;
}
.sarah{
    background-color: black;
    height: 400px;
    width: auto;
}
.william{
    background-color: black;
    height: 400px;
    width: auto;
}

/* Eighth Section Ends */

/* Ninth Section Starts */

.address{
        background-color: black;
        width: auto;
        padding: 50px 0;
}
.mentor{
    background-color: red;
    height: 200px;
    width: auto;
}
.use{
    background-color: red;
    height: 200px;
    width: auto;
}
.our{
    background-color: red;
    height: 200px;
    width: auto;
}
.join{
    background-color: red;
    height: 200px;
    width: auto;
}
/* Ninth Section Ends */

/* Tenth Section Starts */

footer{
    background-color: red;
    width: auto;
    padding: 10px 0;
}
.copyright{
    background-color: black;
    height: 50px;
    width: auto;
}
.symbol{
    background-color: black;
    height: 50px;
    width: auto;
}

/* Tenth Section Ends */